*
{
    margin: 0;
    padding: 0;
}

html,

body
{
    height: 100vh;
    background: rgb(10, 10, 20);
}

body{
    overflow-x: hidden; /*To hidden the horizontal scroll bar */
}

.webgl
{
    /*position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion; /*To make the webgl scene behind the css text or objects */
}

.container{
    position: absolute;
    height: 8vh;
    width: 100vh;
    left: 33vw;
    border-radius: 12px;
    display: flex;
    place-items: top;

}

.health-bar{
    position: relative;
    left: 9.5vw;
    top: 1.2vw;
    width: 30vh;
    height: 3vh;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

.health-bar-fill{
    height: 100%;
    background: rgb(22, 227, 53);
    transition: width 0.5s;
}

.health-bar-value{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


.score-bar{
    position: relative;
    left: 7vw;
    top: 0.5vw;
    width: 40vh;
    height: 5vh;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;;

}

.score-bar-value{
    position: absolute;
    width: 100%;
    height: 100%;
    color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

h1{
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: rgb(51, 0, 0);
    background-image:url('../static/img/virusTex.jpg');

    font-weight:bold;
    box-shadow:4px 4px 8px rgb(48, 48, 48);

}


.orbitButton {
    position: fixed;
    background-color: blue; /* lightBlue */
    border: none;
    color: red;
    padding: 5px 20px;
    top: 0.8vh;
    left: 70vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .cameraRotationButton {
    position: fixed;
    background-color: lightBlue; /* lightBlue */
    border: none;
    color: black;
    padding: 5px 5px;
    top: 5vh;
    left: 70vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


section{
    height: 100vh; /*because we wanna go out of view, scroll down beyond i think*/
}